<div class="modal-header">
  <h4 class="modal-title">Add contact</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-inline">
    <div class="form-group-row">
      <input class="form-control form-control-sm" id="searchResult" type="text" placeholder="Search users..."
             [(ngModel)]="user" [ngbTypeahead]="search" [inputFormatter]="formatter"
             [resultFormatter]="formatter"
             [editable]='false' />
    </div>
    <button class="btn btn-sm btn-success ml-auto" (click)="addContact()" [disabled]="!user">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Close</button>
</div>
